h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.2em;
  color: goldenrod;
}
h1 > img {
  float: left;
  margin-right: 10px;
}

h2 {
  font-size: 1.2em;
  color: goldenrod;
  background: aliceblue;
}

h3 {
  font-size: 1.1em;
  color: goldenrod;
}

p {
  font-size: 0.9em;
}

li {
  font-size: 0.9em;
}

.logo-font {
  font-family: "Yuji Syuku", serif;
}

.kaido-title {
  font-size: 1.3em;
  font-family: "Yuji Syuku", serif;
}
