body {
  margin: 0;
  padding: 0;
}
body > img {
  margin-right: 10px;
  float: left;
  height: 30px;
}

h1 {
  margin: 0;
  padding: 5px;
  font-family: "Yuji Syuku", serif;
  font-size: 13px;
}
h1 a {
  color: goldenrod;
}

#map {
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
}

.sep {
  color: silver;
}

.div-icon {
  display: table-cell;
  color: #f00;
  background-color: #ff4;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
}
