#spot-list-open {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: silver;
}

#spot-list table {
  width: 100%;
}
#spot-list th,
#spot-list td {
  padding: 5px;
}
#spot-list tr {
  background-color: lightgoldenrodyellow;
}
#spot-list tr:nth-child(even) {
  background-color: lightyellow;
}
#spot-list td > i {
  font-size: 1.2em;
}
#spot-list a {
  font-weight: bold;
  font-size: 1.2em;
}
#spot-list .other-pics {
  color: gray;
  font-size: 0.5em;
  line-height: 10px;
  text-align: right;
}
