#spot-list-open {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: silver;
}

#spot-list {
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  color: black;
  display: none;
  font-size: 0.8em;
}
#spot-list h2 {
  color: goldenrod;
  font-size: 2em;
  font-family: "Yuji Syuku", serif;
}
#spot-list table {
  width: 100%;
}
#spot-list th,
#spot-list td {
  padding: 5px;
}
#spot-list tr {
  background-color: lightgoldenrodyellow;
}
#spot-list tr:nth-child(even) {
  background-color: lightyellow;
}
#spot-list td > i {
  font-size: 1.2em;
}
#spot-list a {
  font-weight: bold;
  font-size: 1.2em;
}
#spot-list .other-pics {
  color: gray;
  font-size: 0.5em;
  line-height: 10px;
  text-align: right;
}
